@page "/dialog"

<TelerikButton OnClick="@( () => DialogVisible = true )">Show Dialog</TelerikButton>

<TelerikDialog Visible="@DialogVisible"
               VisibleChanged="@VisibleChanged"
               Width="600px"
               ShowCloseButton="true"
               CloseOnOverlayClick="true"
               ButtonsLayout="@DialogButtonsLayout.End">
    <DialogTitle>
        Title
    </DialogTitle>
    <DialogContent>
        <p>Text</p>
    </DialogContent>
    <DialogButtons>
        <TelerikButton OnClick="@( () => HandleButtonClick(true) )"
                       ThemeColor="@ThemeConstants.Button.ThemeColor.Success">Yes</TelerikButton>
        <TelerikButton OnClick="@( () => HandleButtonClick(false) )"
                       ThemeColor="@ThemeConstants.Button.ThemeColor.Error">No</TelerikButton>
    </DialogButtons>
</TelerikDialog>

@code {
    private bool DialogVisible { get; set; }

    private void HandleButtonClick(bool result)
    {
        DialogVisible = false;
    }

    private void VisibleChanged(bool newVisible)
    {
        DialogVisible = newVisible;
    }
}
