@page "/treeview-select"

<p>
    <label>Item Id: <TelerikNumericTextBox @bind-Value="@ItemToSelect" Width="80px" /></label>
    <TelerikButton OnClick="@SelectItem">Select Item @ItemToSelect</TelerikButton>
    <TelerikButton OnClick="@AddToSelection">Add Item @ItemToSelect to Selection</TelerikButton>
</p>
<p>
    <TelerikButton OnClick="@SelectRoot">Select Root Items</TelerikButton>
    <TelerikButton OnClick="@SelectAll">Select Leaves</TelerikButton>
    <TelerikButton OnClick="@SelectNone">Select None</TelerikButton>
</p>

<TelerikTreeView Data="@FlatData"
                 @bind-ExpandedItems="@ExpandedItems"
                 @bind-SelectedItems="@SelectedItems"
                 SelectionMode="@TreeViewSelectionMode.Multiple" />

@code {
    private IEnumerable<TreeItem> FlatData { get; set; } = new List<TreeItem>();
    private IEnumerable<object> ExpandedItems { get; set; } = new List<TreeItem>();
    private IEnumerable<object> SelectedItems { get; set; } = new List<TreeItem>();

    private int ItemToSelect { get; set; }
    private Random rnd { get; set; } = new Random();

    private void SelectItem()
    {
        var leafItem = FlatData.Where(x => x.Id == ItemToSelect).FirstOrDefault();

        if (leafItem != null)
        {
            SelectedItems = new List<TreeItem>() { leafItem };
        }

        ItemToSelect = Random.Shared.Next(1, FlatData.Count() + 1);
    }

    private void AddToSelection()
    {
        var leafItem = FlatData.Where(x => x.Id == ItemToSelect).FirstOrDefault();

        if (leafItem != null)
        {
            SelectedItems = SelectedItems.Append(leafItem);
        }

        ItemToSelect = Random.Shared.Next(1, FlatData.Count() + 1);
    }

    private void SelectRoot()
    {
        SelectedItems = FlatData.Where(x => x.ParentId == null);
    }

    private void SelectAll()
    {
        SelectedItems = FlatData.Where(x => !x.HasChildren);
    }

    private void SelectNone()
    {
        SelectedItems = new List<TreeItem>();
    }

    protected override void OnInitialized()
    {
        FlatData = LoadFlat();

        ExpandedItems = FlatData.Where(x => x.HasChildren == true);

        ItemToSelect = Random.Shared.Next(1, FlatData.Count() + 1);
    }

    #region TreeView data generation

    private int TreeLevels { get; set; } = 3;
    private int ItemsPerLevel { get; set; } = 2;
    private int IdCounter { get; set; } = 1;

    private List<TreeItem> LoadFlat()
    {
        List<TreeItem> items = new List<TreeItem>();

        PopulateTreeItems(items, null, 1);

        return items;
    }

    private void PopulateTreeItems(List<TreeItem> items, int? parentId, int level)
    {
        for (int i = 1; i <= ItemsPerLevel; i++)
        {
            var itemId = IdCounter++;
            items.Add(new TreeItem()
            {
                Id = itemId,
                Text = $"Level {level} Item {i} Id {itemId}",
                ParentId = parentId,
                HasChildren = level < TreeLevels
            });

            if (level < TreeLevels)
            {
                PopulateTreeItems(items, itemId, level + 1);
            }
        }
    }

    #endregion

    public class TreeItem
    {
        public int Id { get; set; }
        public string Text { get; set; } = string.Empty;
        public int? ParentId { get; set; }
        public bool HasChildren { get; set; }
    }
}
