@page "/no-data-service"

@using Microsoft.EntityFrameworkCore

@using Telerik.DataSource
@using Telerik.DataSource.Extensions

@implements IDisposable

@inject IDbContextFactory<DbContextEF> DbContextFactory

<PageTitle>No Data Service</PageTitle>

<h1>No Data Service</h1>

<h2>Categories</h2>

<TelerikGrid OnRead="@OnGridRead"
             TItem="Category"
             Sortable="true"
             Pageable="true"
             FilterMode="@GridFilterMode.FilterRow"
             EditMode="@GridEditMode.Incell"
             OnUpdate="@OnCategoryUpdate"
             OnCreate="@OnCategoryCreate"
             OnDelete="OnCategoryDelete"
             ConfirmDelete="true">
    <GridToolBarTemplate>
        <GridCommandButton Command="Add" Icon="@SvgIcon.Plus">Add Category</GridCommandButton>
    </GridToolBarTemplate>
    <GridColumns>
        <GridColumn Field="@nameof(Category.Id)" Editable="false" Filterable="false" Width="80px" />
        <GridColumn Field="@nameof(Category.Name)" />
        <GridCommandColumn Width="160px">
            <GridCommandButton Command="Delete" Icon="@SvgIcon.Trash">Delete</GridCommandButton>
        </GridCommandColumn>
    </GridColumns>
</TelerikGrid>

@code {
    private DbContextEF? DbContextEF { get; set; }

    private async Task OnGridRead(GridReadEventArgs args)
    {
        DataSourceResult result = await DbContextEF!.Categories.ToDataSourceResultAsync(args.Request);

        args.Data = result.Data;
        args.Total = result.Total;
        args.AggregateResults = result.AggregateResults;
    }

    private async Task OnCategoryCreate(GridCommandEventArgs args)
    {
        var createdCategory = (Category)args.Item;

        if (string.IsNullOrEmpty(createdCategory.Name))
        {
            createdCategory.Name = $"New Category";
        }

        DbContextEF!.Categories.Add(createdCategory);
        await DbContextEF!.SaveChangesAsync();
    }

    private async Task OnCategoryUpdate(GridCommandEventArgs args)
    {
        var updatedCategory = (Category)args.Item;

        var originalCategory = await DbContextEF!.Categories.FirstOrDefaultAsync(x => x.Id == updatedCategory.Id);

        if (originalCategory != null)
        {
            DbContextEF!.Categories.Entry(originalCategory).State = EntityState.Detached;
            DbContextEF!.Categories.Update(updatedCategory);
            await DbContextEF!.SaveChangesAsync();
        }
    }

    private async Task OnCategoryDelete(GridCommandEventArgs args)
    {
        var deletedCategory = (Category)args.Item;

        DbContextEF!.Categories.Remove(deletedCategory);
        await DbContextEF!.SaveChangesAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        DbContextEF = await DbContextFactory.CreateDbContextAsync();

        await base.OnInitializedAsync();
    }

    public void Dispose() => DbContextEF?.Dispose();
}
