@using Telerik.DataSource

<TelerikPivotGridContainer>

    <TelerikPivotGridConfigurator />

    <TelerikPivotGridConfiguratorButton />

    <TelerikPivotGrid Data="@PivotData"
                      DataProviderType="@PivotGridDataProviderType.Local">
        <PivotGridColumns>
            <PivotGridColumn Name="@nameof(PivotModel.City)" Title="City" />
        </PivotGridColumns>
        <PivotGridRows>
            <PivotGridRow Name="@nameof(PivotModel.Category)" Title="Category" />
            <PivotGridRow Name="@nameof(PivotModel.Product)" />
        </PivotGridRows>
        <PivotGridMeasures>
            <PivotGridMeasure Name="@nameof(PivotModel.ContractValue)"
                              Title="Contract Value"
                              Aggregate="@PivotGridAggregateType.Sum" />
        </PivotGridMeasures>
    </TelerikPivotGrid>

</TelerikPivotGridContainer>

<p>Same data in a Grid</p>

<TelerikGrid Data="@PivotData"
             Groupable="true"
             OnStateInit="@( (GridStateEventArgs<PivotModel> args) => OnGridStateInit(args) )"
             Height="400px">
    <GridAggregates>
        <GridAggregate Field="@nameof(PivotModel.ContractValue)" Aggregate="@GridAggregateType.Sum" />
    </GridAggregates>
    <GridColumns>
        <GridColumn Field="@nameof(PivotModel.Product)" />
        <GridColumn Field="@nameof(PivotModel.Category)" />
        <GridColumn Field="@nameof(PivotModel.City)" />
        <GridColumn Field="@nameof(PivotModel.ContractDate)" />
        <GridColumn Field="@nameof(PivotModel.ContractValue)">
            <GroupFooterTemplate>
                @context.Sum?.ToString("C2")
            </GroupFooterTemplate>
            <FooterTemplate>
                @context.Sum?.ToString("C2")
            </FooterTemplate>
        </GridColumn>
    </GridColumns>
</TelerikGrid>

@code {
    private List<PivotModel> PivotData { get; set; } = new();

    private void OnGridStateInit(GridStateEventArgs<PivotModel> args)
    {
        args.GridState.GroupDescriptors.Add(new GroupDescriptor()
        {
            Member = nameof(PivotModel.Category),
            MemberType = typeof(decimal)
        });

        args.GridState.GroupDescriptors.Add(new GroupDescriptor()
        {
            Member = nameof(PivotModel.City),
            MemberType = typeof(decimal)
        });

        args.GridState.GroupDescriptors.Add(new GroupDescriptor()
        {
            Member = nameof(PivotModel.Product),
            MemberType = typeof(decimal)
        });
    }

    protected override void OnInitialized()
    {
        var dataItemCount = 100;
        var categoryCount = 3;
        var productCount = 10 + 1; // effectively 6, as rnd.Next() will never return 6
        var cityCount = 3 + 1; // effectively 3
        var rnd = Random.Shared;

        for (int i = 1; i <= dataItemCount; i++)
        {
            var productNumber = Random.Shared.Next(1, productCount);
            var categoryNumber = productNumber % categoryCount + 1;
            var cityNumber = rnd.Next(1, cityCount);

            PivotData.Add(new PivotModel()
            {
                Category = $"Category {categoryNumber}",
                Product = $"Product {productNumber}",
                City = $"City {cityNumber}",
                ContractDate = DateTime.Now.AddDays(-rnd.Next(1, 31)).AddMonths(-rnd.Next(1, 12)).AddYears(-rnd.Next(0, 5)),
                ContractValue = (productNumber == 3 || cityNumber == 2 || categoryNumber == 1) ? 0 : rnd.Next(123, 987)
            });
        }

        base.OnInitialized();
    }

    public class PivotModel
    {
        public string Category { get; set; } = null!;
        public string Product { get; set; } = null!;
        public string City { get; set; } = null!;
        public DateTime ContractDate { get; set; }
        public decimal ContractValue { get; set; }
    }
}