@using System.Text.Json

<TelerikToggleButton @bind-Selected="@ShouldRenderTaskBoard">Render TaskBoard</TelerikToggleButton>

<label class="k-label k-checkbox-label">
    <TelerikCheckBox @bind-Value="@TaskBoardCardDraggable" />
    Card Draggable
</label>

<label class="k-label k-checkbox-label">
    <TelerikCheckBox @bind-Value="@TaskBoardColumnReorderable" />
    Column Reorderable
</label>

<label class="k-label k-checkbox-label">
    <TelerikCheckBox @bind-Value="@TaskBoardConfirmDelete" />
    Confirm Delete
</label>

<label class="k-label k-checkbox-label">
    <TelerikCheckBox @bind-Value="@TaskBoardEnabled" />
    Enabled
</label>

<p>Last Event: @EventLogger</p>
<p>Columns Count: @TaskBoardColumns.Count</p>
<p>Cards Count: @TaskBoardCards.Count</p>

<p>@DateTime.Now.ToString("HH:mm:ss")</p>

@if (ShouldRenderTaskBoard)
{
    <TelerikTaskBoard CardData="@TaskBoardCards"
                      CardDraggable="@TaskBoardCardDraggable"
                      Class="foo"
                      ColumnData="@TaskBoardColumns"
                      ColumnReorderable="@TaskBoardColumnReorderable"
                      ConfirmDelete="@TaskBoardConfirmDelete"
                      Enabled="@TaskBoardEnabled"
                      Height="600px"
                      OnCardCreate="@OnTaskBoardCardCreate"
                      OnCardClick="@OnTaskBoardCardClick"
                      OnCardDelete="@OnTaskBoardCardDelete"
                      OnCardMove="@OnTaskBoardCardMove"
                      OnCardUpdate="@OnTaskBoardCardUpdate"
                      OnColumnCreate="@OnTaskBoardColumnCreate"
                      OnColumnDelete="@OnTaskBoardColumnDelete"
                      OnColumnReorder="@OnTaskBoardColumnReorder"
                      OnColumnUpdate="@OnTaskBoardColumnUpdate"
                      PanePosition="@TaskBoardPanePosition.End"
                      Priorities="@TaskBoardPriorities"
                      SelectedCard="@TaskBoardSelectedCard"
                      SelectedCardChanged="@TaskBoardSelectedCardChanged"
                      TColumn="@TaskBoardColumn"
                      TItem="@TaskBoardCard"
                      Width="100%">
        <TaskBoardSettings>
            <TaskBoardCardSettings Buttons="@(TaskBoardCardButtons.EditCard | TaskBoardCardButtons.DeleteCard)" />
            <TaskBoardColumnSettings Buttons="@(TaskBoardColumnButtons.EditColumn | TaskBoardColumnButtons.AddCard | TaskBoardColumnButtons.DeleteColumn)"
                                     Width="300px" />
        </TaskBoardSettings>
        <TaskBoardToolBar>
            <TaskBoardToolBarAddColumnTool Icon="@SvgIcon.Plus"></TaskBoardToolBarAddColumnTool>
            <TaskBoardToolBarSpacerTool></TaskBoardToolBarSpacerTool>
            <TaskBoardToolBarSearchBoxTool Placeholder="Search..."></TaskBoardToolBarSearchBoxTool>
        </TaskBoardToolBar>
    </TelerikTaskBoard>
}

<pre>@JsonSerializer.Serialize(TaskBoardCards, new JsonSerializerOptions { WriteIndented = true })</pre>
<pre>@JsonSerializer.Serialize(TaskBoardColumns, new JsonSerializerOptions { WriteIndented = true })</pre>

@code {
    private TaskBoardCard? TaskBoardSelectedCard { get; set; }
    private List<TaskBoardCard> TaskBoardCards { get; set; } = new List<TaskBoardCard>();
    private List<TaskBoardColumn> TaskBoardColumns { get; set; } = new List<TaskBoardColumn>();

    private List<TaskBoardCardPriority> TaskBoardPriorities { get; set; } = new List<TaskBoardCardPriority>()
        {
            new TaskBoardCardPriority() { Text = "Low", Value = "low", Color = "var(--kendo-color-success)" },
            new TaskBoardCardPriority() { Text = "Normal", Value = "normal", Color = "var(--kendo-color-info)" },
            new TaskBoardCardPriority() { Text = "Medium", Value = "medium", Color = "var(--kendo-color-warning)"},
            new TaskBoardCardPriority() { Text = "High", Value = "high", Color = "var(--kendo-color-error)" }
        };

    private bool TaskBoardCardDraggable { get; set; } = true;
    private bool TaskBoardColumnReorderable { get; set; } = true;
    private bool TaskBoardConfirmDelete { get; set; } = true;
    private bool TaskBoardEnabled { get; set; } = true;

    private string EventLogger { get; set; } = string.Empty;
    private bool ShouldRenderTaskBoard { get; set; } = true;

    private void OnTaskBoardCardCreate(TaskBoardCardCreateEventArgs<TaskBoardCard> args)
    {
        args.Item.Id = ++LastId;

        // Optionally, add the Cart to the bottom of the column
        //int maxIndexInColumn = TaskBoardCards.Where(c => c.Status == args.Item.Status).Select(c => c.Index).DefaultIfEmpty(0).Max();
        //args.Item.Index = ++maxIndexInColumn;

        TaskBoardCards.Add(args.Item);

        EventLogger = $"Added card {args.Item.Title}";
    }

    private void OnTaskBoardCardClick(TaskBoardCardClickEventArgs<TaskBoardCard> args)
    {
        EventLogger = $"Clicked card {args.Item.Title}";
    }

    private void OnTaskBoardCardDelete(TaskBoardCardDeleteEventArgs<TaskBoardCard> args)
    {
        TaskBoardCards.Remove(args.Item);

        EventLogger = $"Deleted card {args.Item.Title}";
    }

    private void OnTaskBoardCardMove(TaskBoardCardMoveEventArgs<TaskBoardCard> args)
    {
        string cardAppendix = " | ";
        int cardOriginalDescriptionIndex = args.Item.Description.IndexOf(cardAppendix);
        if (cardOriginalDescriptionIndex == -1)
        {
            cardOriginalDescriptionIndex = args.Item.Description.Length;
        }

        string cardOriginalDescription = args.Item.Description.Substring(0, cardOriginalDescriptionIndex);

        args.Item.Index = args.NewIndex;
        args.Item.Status = args.NewStatus;
        args.Item.Description = $"{cardOriginalDescription}{cardAppendix}moved at {DateTime.Now.ToString("HH:mm:ss")}, new index {args.NewIndex}, new status {args.NewStatus}";

        EventLogger = $"Moved card {args.Item.Title}";
    }

    private void OnTaskBoardCardUpdate(TaskBoardCardUpdateEventArgs<TaskBoardCard> args)
    {
        args.OriginalItem.Description = args.Item.Description + $" updated at {DateTime.Now.ToString("HH:mm:ss")}";
        args.OriginalItem.Index = args.Item.Index;
        args.OriginalItem.Priority = args.Item.Priority;
        args.OriginalItem.Title = args.Item.Title;
        args.OriginalItem.Status = args.Item.Status;

        EventLogger = $"Updated card {args.Item.Title}";
    }

    private void OnTaskBoardColumnCreate(TaskBoardColumnCreateEventArgs<TaskBoardColumn> args)
    {
            args.Item.Status = $"Status {++LastId}";
            args.Item.WipLimit = 3;
            TaskBoardColumns.Add(args.Item);
    
            EventLogger = $"Added column {args.Item.Title}";
    }

    private void OnTaskBoardColumnDelete(TaskBoardColumnDeleteEventArgs<TaskBoardColumn> args)
    {
        TaskBoardColumns.Remove(args.Item);

        TaskBoardCards.RemoveAll(c => c.Status == args.Item.Status);

        EventLogger = $"Deleted column {args.Item.Title}";
    }

    private void OnTaskBoardColumnReorder(TaskBoardColumnReorderEventArgs<TaskBoardColumn> args)
    {
        EventLogger = $"Reordered column {args.Item.Title} from index {args.OldIndex} to index {args.NewIndex}";
    }

    private void OnTaskBoardColumnUpdate(TaskBoardColumnUpdateEventArgs<TaskBoardColumn> args)
    {
        args.OriginalItem.Title = args.Item.Title;
        args.OriginalItem.Status = args.Item.Status;
        args.OriginalItem.Width = args.Item.Width;
        args.OriginalItem.WipLimit = args.Item.WipLimit;

        EventLogger = $"Updated column {args.Item.Title}";
    }

    private void TaskBoardSelectedCardChanged(TaskBoardCard newSelectedCard)
    {
        TaskBoardSelectedCard = newSelectedCard;

        EventLogger = $"Selected card {newSelectedCard?.Title}";
    }

    private int LastId { get; set; }

    protected override void OnInitialized()
    {
        int columnsCount = 3;
        int cardsCount = 5;
        int maxCardsPerColumn = 3;

        for (int i = 1; i <= columnsCount; i++)
        {
            int columnId = ++LastId;

            TaskBoardColumns.Add(new TaskBoardColumn()
            {
                Buttons = TaskBoardColumnButtons.EditColumn | TaskBoardColumnButtons.AddCard | TaskBoardColumnButtons.DeleteColumn,
                Index = i - 1,
                Status = $"Status {columnId}",
                Title = $"Column {columnId}",
                Width = "300px",
                WipLimit = maxCardsPerColumn
            });
        }

        for (int i = 1; i <= cardsCount; i++)
        {
            string cardStatus = $"Status {(i % columnsCount) + 1}";
            int cardIndex = TaskBoardCards.Where(c => c.Status == cardStatus).Count();
            int cardId = ++LastId;
            
            TaskBoardCards.Add(new TaskBoardCard()
            {
                Description = $"Description {cardId} index {cardIndex}",
                Id = cardId,
                Index = cardIndex,
                Priority = TaskBoardPriorities[Random.Shared.Next(0, TaskBoardPriorities.Count)].Value,
                Status = cardStatus,
                Title = $"Card {cardId}"
            });
        }

        base.OnInitialized();
    }

    public class TaskBoardCard
    {
        public string Description { get; set; } = string.Empty;
        public int Id { get; set; }
        public int Index { get; set; }
        public string Priority { get; set; } = string.Empty;
        public string Status { get; set; } = string.Empty;
        public string Title { get; set; } = string.Empty;
    }

    public class TaskBoardColumn
    {
        public TaskBoardColumnButtons? Buttons { get; set; }
        public bool Enabled { get; set; } = true;
        public int Index { get; set; }
        public string Status { get; set; } = string.Empty;
        public string Title { get; set; } = string.Empty;
        public string Width { get; set; } = string.Empty;
        public int? WipLimit { get; set; }
    }
}
